<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta
		name="viewport"
		content="width=device-width, initial-scale=1, shrink-to-fit=no"
	/>
	<title>GDapp</title>
</head>
<body>
	<div id="root"></div>

	
	<!-- <script src="/js/globals.js?v=<%= vers %>"></script> -->
	<script src="/js/main.js?v=<%= vers %>"></script>
</body>
</html>